footer{
    width:calc(100%- 80px);
    padding:40px 40px;
    background-color: black;
    overflow: hidden;
    margin-top: 50% !important;
  }
 
.wrapper{
  width:100%;
}

.wrapper h2{
  padding: 30px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 100;
  color:black;
  text-align: center;
}

.image_info h4{
  padding: 30px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color:black;
  line-height:44px;
}

.image_info p{
  padding: 0px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color:black;
  line-height:24px;
}

img{
  width: 100%;
}

.wrapper h2{
  padding: 30px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight:200;
  color:black;
  text-align: center;
}

.image_info h4{
  padding: 30px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 200;
  color:#D36B00;
  line-height:44px;
}

.image_info p{
  padding: 0px 30px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color:black;
  line-height:24px;
}


/*-----------------------------------------------MEDIA QUERY-------------------------------------------*/
@media only screen and (min-width:768px){
  .wrapper{
    width:700px;
    margin:0 auto;
  }

  .image_info h4{
    padding: 20px 0px 0px;
  }
  
  .image_info p{
    padding: 20px 0px 0px;
  }
  
  img{
    padding-top:30px;
  }
}

@media only screen and (min-width:1000px){
  
  .logo img{
    width: 100% !important;
   }
   
   .wrapper{
    width: 1000px;
   }

   .image_info{
    width: 50%;
    float:right;
   }

   img{
    padding-top:30px;
    width: 50%;
    float: left;
  }
   
  .image_info h4{
    padding: 20px 0px 15px 30px;
  }
  
  .image_info p{
    padding: 30px 0px 0px 30px;
  }

  .about_evolution{
    padding-top: 20px;
  }

  footer{
    width:1850px;
    padding:40px 40px;
    background-color: black;
    overflow: hidden;
    margin-top: 60% !important;
    height:200px;
  }
  
}

