*{
   margin: 0;
   padding: 0;
}

/*---------my colors: 
FFFBC1
 EF822C
  9ED5C5 
  FDD36A
   93BFCF

   
---------------------------------------------------------------*/

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  nav img{
      padding: 5px;
      height: 120px;
      margin-left: 10px;
      margin-top: 10px;
  }

  .top_navigation{
      position: fixed;
      top: 0;
      left:0;
      width:100%;
      height: 80px;
      background-color: #311B24;
      padding: 10px, 50px;
      box-sizing: border-box;
      z-index: 2;  
  }
  
  nav ul{
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
      float: right;
      margin-top: 0;
  }
  
  nav ul li a{
      line-height:70px;
      color: white;
      padding: 12px 30px;
      text-decoration: none;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 15px;
      font-weight: 200; 
      transition:color 0.3s;
  }
  
  nav ul li a:hover{
    transform: scale(1.07);
  }

  .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    float: right;
    padding: 20px;
  }
  
  .search_box input{
    border: none;
    height: 100%;
    width: 400px;
    outline: none;
    background: white;
    padding: 0 10px;
  }
  
  .fa-magnifying-glass{
    font-size: 20px;
    color: white;
    padding: 10px;
  }
  
  .banner{
      width: 100%;
      height: 100vh;
      background-image: url('../images/Banner.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 100%; 
  }

  .banner_text_mv{
    text-align: center;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
 }
  
 .banner_text_dv{
    text-align: center;
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:sans-serif; 
    font-size: 20px;
  }

    .category{
      color: #393E46;
      text-align: center; 
    }

    .museum_info{
        color: white;
    }

/*--------------------------------------------------PAGE LINKS---------------------------------------------------*/

.container_1{
  background-color: white;
  padding: 15px 9%;
  padding-bottom: 15px;
}
.container_1 .heading{
  text-align: center;
  padding-bottom: 15px;
  color: white;
  font-size: 50px;
}
.container_1 .box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10px;
}

.container_1 .box_container .box{
  border-radius: 5px;
  background: white;
  text-align: center;
  padding: 30px 20px;
}

.container_1 .box_container .box img{
  height: 450px;
  width: 350px;
}

.container_1 .box_container .box h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-weight: 200;
}

.container_2{
  background-image: url(../images/milkyway.jpg);
  padding: 15px 9%;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
}

.container_2 .heading{
  text-align: center;
  padding-bottom: 15px;
  color: white;
  font-size: 50px;
  text-shadow: 4px;
}
.container_2 .box_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 10px;
}

.container_2 .box_container .box{
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
}

.container_2 .box_container .box img{
  height: 300px;
  width: 300px;
}

.container_2 .box_container .box h3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 200;
}

.container_1 .box_container .box .btn{
  margin-top:10px;
  display:inline-block;
  background:#311B24;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 8px 25px;
}

.container_1 .box_container .box .btn:hover{
  transform: scale(1.1);
}

.container_1 .box_container .box a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_2 .box_container .box .btn{
  margin-top: 5%;
  display:inline-block;
  background:#311B24;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 8px 25px;
}
.container_2 .box_container .box .btn:hover{
  background:white;
  color:#311B24;
  
}
.container_2 .box_container .box a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-------------------BANNER FOR VISIT INFO----------------------*/

.banner_visit{
  width: 100%;
  height: 100vh;
  background-image: url('../images/exhibition.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%; 
  margin-top: 70px;
}

.banner_visit_text{
  text-align: center;
  padding-top: 20px 20px;
  line-height: 100px; 
}

.banner_visit_text h1{
  margin-top: 20px;
  background: rgba(0, 0, 0 , .7);
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px #311B24;
  font-size: 30px;
}

.banner_visit .banner_visit_text p{
  padding: 3px;
  font-size: 24px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0 , .4);
  line-height: 1.6;
  text-shadow: 2px 2px #311B24 ;
}



/*----------------------------------------------------------FOOTER------------------------------*/

footer{
  width:calc(100%- 80px);
  padding:40px 40px;
  background-color: black;
  overflow: hidden;
  margin-top: 60px;
}

footer ul{
  width: fit-content;
  float:left;
  padding-left:20px;
}

footer ul li{
  display: block;
  list-style: none;
}

footer ul li a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  line-height: 40px;
  font-size: 18px;
  display: block;
}

.footer_sm{
  width:40px;
  float:right;
}

.footer_sm img{
  width:100%;
}

/*---------------------------------------------MEDIA QUERY------------------------------------------------------*/

@media only screen and (max-width:853px){
    
  .top_navigation ul{
        flex-direction:column;
        flex-wrap:wrap;
        width:100%;
    }
    
     .top_navigation ul{
      position: fixed;
      width: 100%;
      height: 80vh;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
     }
  
    .top_navigation li{
        flex-direction: column;
        flex-wrap: wrap;
        background: black;
        top: 80px;
        left: 0;
        text-align: center;
    }  
  
    .top_navigation ul li{
      display: block;
      
     }  
  
    .top_navigation ul li a{
     font-size: 16px;
     }
  
    .checkbtn{
    display: block;
    padding-top: 5px;
   }
  
   #check:checked ~ ul{
    left: 0;
   } 

   .banner_text{
    display:none;
   }

  .search_box{
    display: flex;
    height: 30px;
    line-height: 10px;
    float: right;
    padding-top: 2px;
  }

  .search_box input{
    border: none;
    height: 100%;
    width: 250px;
    outline: none;
    background: white; 
  }

  .fa-magnifying-glass{
    font-size: 18px;
    color: white;
    padding: 7px;
  }

  nav img{
    padding: 5px;
    height:100px;
 }

 .banner_text_dv{
  display: none; 
}

.banner_text_mv{
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

.container_1 .box_container .box img{
  height: 300px;
  width: 260px;
}

.container_2 .box_container .box img{
  height:260px;
  width:260px;
}

.banner_visit_text{
  line-height: 60px; 
}
.banner_visit .banner_visit_text p{
  font-size: 18px;
}
.container_2 .heading{
  font-size: 30px;
  text-shadow:3px;
}

.banner_visit_text h1{
  font-size:30px;
}
}